
.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  background-image: url("https://c0.wallpaperflare.com/preview/728/375/731/aerial-analog-background-blog.jpg");
}

.form-container {
  width: 400px;
  margin: auto;
  
  background-image: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGJsb2d8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #0300b5;
 
}